<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="pgNotFound" src="/img/404_page_cover.jpg">
        <p>{{errorMessage}}</p>
    </div>
    {{>footer}}
</body>

</html>